fastapi==0.104.1
pydantic==2.5.2
pydantic-settings==2.1.0
uvicorn==0.24.0
sqlalchemy==2.0.23
pydantic[email]==2.5.2
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart==0.0.6
python-dotenv==1.0.0
pytz==2023.3
python-socketio==5.10.0
aiohttp==3.9.1
pytest==7.4.3
httpx==0.25.2

# Database Management
boto3==1.34.34
opencv-python==4.8.1.78
numpy==1.26.2
pytesseract==0.3.10
pillow==10.1.0
alembic==1.12.1
psycopg2-binary==2.9.9
Faker==22.6.0
psutil